<header class="header-section">
  <div class="intro-header no-img">
    <div class="container-md">
      <div class="row">
        <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
          <div class="page-heading">
            <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>

            {% if page.subtitle %}
              <span class="page-subheading">{{ page.subtitle }}</span>
            {% elsif site.description %}
              <span class="page-subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
